{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}

<h3>О нас</h3>

<p style="margin:50px 0 0 400px">Добро пожаловать на сайт кондитерского магазина San Tortini!</p>
<p style="margin:10px 0 0 350px">Мы поможем сделать Ваш праздник незабываемым, изготовив великолепный торт.</p>
<p style="margin:10px 0 0 250px">Посмотрите наш чудесный каталог, где каждый торт - это маленькое творение профессиональных кондитеров.</p>
<img src="{% static '006.png' %}" alt="" width="100%">
<p style="margin:10px 0 0 380px">Наша команда кондитеров - настоящие профессионалы своего дела.</p>
<p style="margin:10px 0 0 330px">Если у Вас есть свои пожелания и идеи, мы с радостью поможем их осуществить.</p>
<p style="margin:10px 0 0 300px">Присылайте фото торта, и наши кондитеры постараются изготовить торт по Вашему дизайну.</p>
<img src="{% static '007.png' %}" alt="" width="100%">
{% endblock %}