{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'cakes' %}">
        <img src="{% static 'log.png' %}" alt="" width="150">
        San Tortini
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'cakes' %}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Торты
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'cake' cake_id=1 %}">Праздничные</a></li>
            <li><a class="dropdown-item" href="{% url 'sample' sample_id=6 %}">Детские</a></li>
            <li><a class="dropdown-item" href="{% url 'sample' sample_id=7 %}">Свадебные</a></li>
            <li><a class="dropdown-item" href="{% url 'sample' sample_id=8 %}">Корпоративные</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fillings' %}">Начинки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order' %}">Заказать</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reviews' %}">Отзывы</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'about_us' %}">О нас</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}

<div class="_13Lxq">
    <img style="margin: 0 0 0 0;"src="{% static '004.svg' %}" alt="" width="700">
    <h5>Как добраться на общественном транспорте</h5>
    <img style="margin:20px 0 50px 0;"src="{% static '002.png' %}" alt="" width="700">
</div>


<div class="registration-data">
    <p>Адрес магазина: г.Минск, ул. Авангардная 58</p>
<p>Регистрационный номер в торговом реестре: 463631, от 23.10.2019.</p>
<p>Индивидуальный предприниматель  Бобровский Д.М. Свидетельство от 19.09.2018, №193138144,</p>
<p>УНП 193138144,</p>
<p>Телефон + 375 29 629 6 926,</p>
<p>Почтовый адрес: г. Минск, ул. Л. Беды 31-32</p>
<p>Банковские реквизиты: Р/С  BY 73 AKBB 3013 1641 3364 2530 0000,</p>
<p>BIC SWIFT - AKBBBY2X, ОАО «АСБ Беларусбанк», ЦБУ 514,</p>
<p>220089, г. Минск, пр-т Дзержинского, 18,</p>
<p>УНП 100325912.</p>

</div>
</body>
</html>