{% extends 'base.html' %}
{% load static%}
{% block title %}Начинки{% endblock %}

{% block content %}

<h3>Виды начинок</h3>
<img style="margin: 40px 0 0 150px;"src="{% static 'f001.svg' %}" alt="" width="1000">
<img style="margin: 40px 0 0 150px;"src="{% static 'f002.svg' %}" alt="" width="1000">
<img style="margin: 40px 0 0 150px;"src="{% static 'f003.svg' %}" alt="" width="1000">
<img style="margin: 40px 0 0 150px;"src="{% static 'f004.svg' %}" alt="" width="1000">
<img style="margin: 40px 0 0 150px;"src="{% static 'f005.svg' %}" alt="" width="1000">

{% endblock %}